body {
    background-color: var(--cor-fundo);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--cor-fundo);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-scrollbar);
    border-radius: 20px;
}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.cabecalho .menu {
    display: grid;
    grid-template-areas: "logo b-pesquisa menu-2";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
    position: fixed;
    padding: 45px 0 3px 0;
    background-color: var(--cor-fundo);
}

.cabecalho .menu .logo {
    grid-area: logo;
    justify-content: left;
    align-items: center;
    display: flex;
    padding-left: 68px;
}

.cabecalho .menu .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho .menu .logo img {
    width: 30px;
}

.cabecalho .menu .nome {
    padding: 0 3px 0 5px;
    font-size: 20px;
    color: var(--cor-padrao);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

.cabecalho .menu .nome-identificador {
    font-size: 10px;
    padding-bottom: 25px;
    color: var(--cor-detalhes);
    font-family: sans-serif;
}

.b-pesquisa {
    grid-area: b-pesquisa;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-right: 200px;
    padding-left: 15px;
}

.b-pesquisa .barra-de-pesquisa {
    width: 100%;
    height: 41px;
    background-color: var(--cor-barra-de-pesquisa);
    border-radius: 50px;
    border: solid 1px var(--cor-borda);
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-pesquisa .barra-de-pesquisa .pesquisa {
    height: 41px;
    width: 100%;
    background-color: var(--cor-barra-de-pesquisa);
    border: solid 1px var(--cor-borda);
    padding-top: 2px;
    padding-left: 1.2em;
    border-radius: 50px 0 0 50px;
}

.b-pesquisa .barra-de-pesquisa .pesquisa::placeholder {
    font-size: 15px;
}

.b-pesquisa .barra-de-pesquisa input {
    color: var(--cor-letra-input-pesquisa);
    font-size: 16px;
    padding-bottom: 2px;
}

.b-pesquisa .barra-de-pesquisa input:focus {
    box-shadow: 0 0 0 0;
    outline: solid 0.1px var(--cor-borda-input-pesquisa);
    width: 100%;
    height: 38.8px;
    color: var(--cor-letra-input-pesquisa);
    font-size: 16px;
    padding-bottom: 2px;
}

.b-pesquisa .barra-de-pesquisa input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.b-pesquisa .barra-de-pesquisa input:focus::-webkit-input-placeholder {
    color: transparent;
}

.b-pesquisa .barra-de-pesquisa .teclado {
    display: block;
    position: relative;
    right: 2.2em;
    top: 0.2em;
    width: 0.6px;
}

.b-pesquisa .barra-de-pesquisa .teclado img {
    width: 33px;
}

.b-pesquisa .barra-de-pesquisa .teclado img:hover {
    cursor: pointer;
}

.b-pesquisa .barra-de-pesquisa .botao {
    background-color: rgb(34, 34, 34);
    width: 70px;
    height: 39px;
    border-radius: 0 56px 56px 0;
    justify-content: right;
    padding-right: 17px;
    align-items: center;
    display: flex;
    cursor: pointer;
    border: none;
}

.b-pesquisa .barra-de-pesquisa .botao img {
    width: 34px;
}

.b-pesquisa .barra-de-pesquisa .botao .tag-pesquisa {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 113px;
    width: 75px;
    height: 34px;
    background-color: var(--cor-de-fundo-menu2);
    border-radius: 5px;
    right: 345px;
    opacity: 0;
    pointer-events: none;
    font-size: 13px;
}

.b-pesquisa .barra-de-pesquisa .botao:hover .tag-pesquisa {
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.botao-microfone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-microfone .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-icone);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

.botao-microfone .botao:hover {
    background-color: var(--cor-borda);
}

.botao-microfone .botao img {
    width: 45px;
}


.botao-microfone .botao .tag-voz {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 120px;
    width: 160px;
    height: 33px;
    background-color: var(--cor-de-fundo-menu2);
    border-radius: 5px;
    right: 235px;
    opacity: 1;
    pointer-events: none;
    font-size: 13px;
    font-weight: 100;
    opacity: 0;
}

.botao-microfone .botao:hover .tag-voz {
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.menu-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: menu-2;
    width: 100%;
    gap: 15px;
    padding-right: 35px;
}

.menu-2 .criar {
    cursor: pointer;
    width: 40px;
    align-items: center;
    justify-content: right;
    display: flex;
    padding-right: 7px;
}

.menu-2 .criar:hover {
    background-color: var(--cor-borda);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
}

.menu-2 .criar img {
    width: 24px;
    position: fixed;
    top: 18px;
    overflow: hidden;
}

.menu-2 .criar .tag-criar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 108px;
    width: 40px;
    height: 33px;
    background-color: var(--cor-de-fundo-menu2);
    border-radius: 5px;
    right: 133.5px;
    opacity: 0;
    pointer-events: none;
    font-size: 13px;
}

.menu-2 .criar:hover .tag-criar{
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.menu-2 .notificar {
    cursor: pointer;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu-2 .notificar:hover {
    background-color: var(--cor-borda);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-2 .notificar img {
    width: 23px;
    padding-bottom: 1px;
}

.menu-2 .notificar .tag-notificar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 108px;
    width: 90px;
    height: 33px;
    background-color: var(--cor-de-fundo-menu2);
    border-radius: 5px;
    right: 55.5px;
    opacity: 0;
    pointer-events: none;
    font-size: 13px;
}

.menu-2 .notificar:hover .tag-notificar{
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.menu-2 .perfil {
    cursor: pointer;
    padding-top: 5px;
}

.menu-2 .perfil img {
    width: 30px;
    border-radius: 100%;

}

.container {
    display: grid;
    grid-template-areas: "video-destaque propaganda"
        "video-destaque videos-sugeridos";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px;
    padding: 70px 85px 0px 68px;
}

.video-destaque {
    grid-area: video-destaque;
}

.video-destaque .informacoes {
    width: 705px;
}

.video-destaque .informacoes .titulo {
    margin-top: 8px;
    color: var(--cor-padrao);
    font-size: 11px;
}

.video-destaque .informacoes .visualizacoes p {
    padding: 12px 0 15px;
    color: var(--cor-detalhes);
}

.video-destaque .informacoes p {
    font-size: 13px;
    color: var(--cor-padrao);
}

.video-destaque .informacoes .descricao {
    background-color: var(--cor-descricao);
    width: 700px;
    padding: 10px 12px 10px;
    border-radius: 15px;
}

.propaganda {
    grid-area: propaganda;
    border-radius: 15px;
    border: 1.7px solid var(--cor-borda);
}

.propaganda a img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.propaganda .anuncio {
    display: flex;
    width: 400px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 20px;
}

.propaganda .anuncio img {
    border-radius: 50%;
    width: 45px;
}

.propaganda .anuncio .perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.propaganda .anuncio .perfil .nome {
    font-size: 16px;
    color: var(--cor-padrao);
}

.propaganda .anuncio .botao {
    border-radius: 50px;
    display: flex;
    width: 100px;
    height: 40px;
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.videos-sugeridos {
    grid-area: videos-sugeridos;
}

.videos-sugeridos .video a {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.videos-sugeridos .video .titulo {
    font-size: 15px;
    margin-bottom: 7px;
    color: var(--cor-padrao);
}

.videos-sugeridos .video p {
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--cor-detalhes);
}

.videos-sugeridos .video img {
    width: 200px;
    height: 115,33px;
    border-radius: 12px;
}

.videos-sugeridos .informacoes img {
    width: 10px;
}